@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 20px;
    font-family: 'Source Sans Pro', sans-serif;
    letter-spacing: 1px;
    line-height: 1.6;
}

.container {
    margin: 3% 5% 3% 5%;
}

html {
    background-color: #393e46;
    overflow: auto;
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #eeeeee;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    background-color: green;
    top: 0;
    left: 50%;
    width: 6px;
    transform: translate(-50%, -50%);
}


::-webkit-scrollbar-track {
    background: gainsboro;
    border-radius: 5px;
}


::-webkit-scrollbar-thumb {
    background: black;
    border-radius: 5px;
}


::-webkit-scrollbar-thumb:hover {
    background: #555;
}
header {
font-size: 1.5rem;
}
nav {
    background-color: rgb(148, 36, 73);
    position: fixed;
    top: 7%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 1;
}

nav ul {
    text-align: center;
}

nav ul li {
    display: inline-block;
    white-space: nowrap;
}
nav ul li a {
    color: white;
    text-decoration: none;
}
nav ul li:hover {
    background: #00adb5;
  }

span {
    white-space: pre-wrap;
    background-color: #222831;
}

.code-container {
    word-wrap: break-word;
}

code {
    background-color: #222831;
    color: #00adb5;
}

.code-container code {
    color: white;
}

pre {
    background-color: #222831;
}

.comment {
    color: rgb(203, 197, 255);
}

.color-purple {
    color: rgb(51, 3, 49);
}

.color-green {
    display: inline;
    color: rgb(168, 255, 168);
}

.color-red {
    color: rgb(148, 36, 73);
}

.color-orange {
    color: rgb(255, 203, 106);
}

.color-blue {
    color: rgb(0, 195, 255);
}

.color-dark-blue {
    color: rgb(0, 109, 233);
}

.color-white {
    color: rgb(231, 230, 230)
}

section header,
section h1 {
    display: inline-block;
    font-size: 1.5rem;
}

section header {
    margin: 0.5rem;
    padding: 0.2rem 0.2rem 0.2rem 1rem;
    background-color: rgb(148, 36, 73);
    display: inline-block;
}

.hidden {

    display: none;
}

section li,
h2,
p,
pre {
    margin: 0.5rem;
    padding: 0.3rem;
    line-height: 1.4rem;

}

li {
    list-style-type: none;
}

.blink {
    animation: blink-anim 1s linear infinite;
}


.typewriter {
    visibility: 1;
    opacity: 1;
}

.typewriter:after {
    content: "|";
    color: whitesmoke;
    animation: blink-anim 0.7s linear infinite alternate;
}

@keyframes blink-anim {
    50% {
        opacity: 0;
    }
}

@media only screen and (max-width: 768px) {
    pre {
        white-space: normal;
    }

    nav {
        top: 80%;
        bottom: 0%;
        left: 50%;
        transform: translate(-50%, 0%);
        text-align: center;
    }
}